<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: Onumber % 2 !== 0 }"
            [ngStyle]="{ backgroundColor: 'purple' }"
            *ngFor="let Onumber of oddNumbers"
          >
            {{ Onumber }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ even: Enumber % 2 === 0 }"
            *ngFor="let Enumber of evenNumbers"
          >
            {{ Enumber }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>styled</p>
      <p appBetterHighlight [defaultColor]="'purple'" [highlightColor]="'blue'">
        styled
      </p>
    </div>
  </div>
</div>
